:root {
    --header-height: 90px;
}

@theme inline {
    --color-bg-main: #1E1C26;
    --color-bg-secondary: #211E2B;

    --color-dark-300: #BDBDBD;
    --color-dark-400: #59595A;
    --color-dark-500: #333333;
    --color-dark-600: #262626;
    --color-dark-700: #1C1C1C;
    --color-dark-800: #1A1A1A;
    --color-dark-900: #141219;

    --color-blue-400: #60A5FA;
    --color-blue-500: #7286FF;

    --color-light-100: #FFFFFF;
    --color-light-200: #D8E0F0;
    --color-light-300: #BFBFBF;
    --color-light-500: #7D8592;

    --color-success-500: #17AF26;

    --color-purple-400: #C084FC;
    --color-purple-500: #6F5DE9;
    --color-purple-600: #41384E;
    --color-purple-700: #7839CD;
    --color-purple-800: #48436B;
    --color-purple-900: #581C87;

    --color-pink-400: #F472B6;
    --color-pink-600: #EF7794;

    --color-gray-800: #1F2937;
    --color-gray-900: #111827;
    --color-gray-950: #030712;

    --color-danger: #f7374f;
}
