@import "tailwindcss";

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
    }

    body {
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6, p,
    ul, ol, li, figure, blockquote {
        margin: 0;
        padding: 0;
    }

    ul, ol {
        list-style: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    button, input, textarea, select {
        font: inherit;
    }

    img, video {
        max-width: 100%;
        height: auto;
        display: block;
    }
}


:root {

}

@theme inline {
    --color-bg-main: #1E1C26;
    --color-bg-secondary: #211E2B;

    --color-dark-400: #59595A;
    --color-dark-500: #333333;
    --color-dark-600: #262626;
    --color-dark-700: #1C1C1C;
    --color-dark-800: #1A1A1A;
    --color-dark-900: #141219;

    --color-blue-500: #7286FF;

    --color-light-100: #FFFFFF;
    --color-light-200: #D8E0F0;
    --color-light-500: #7D8592;

    --color-success-500: #17AF26;


    --color-purple-500: #6F5DE9;
    --color-purple-700: #7839CD;

    --color-danger: #f7374f;
}